
  <p>
    <mat-toolbar color="primary">
      <button *ngIf="!router.isActive('/allmovies',true)" mat-raised-button>
        <div >
           <a style="text-decoration: none;" routerLink="/allmovies"> Show Movies</a></div></button>
            <button mat-raised-button *ngIf="router.isActive('/allmovies', true)"><span  class="icon-with-text">
              <a style="text-decoration: none;" routerLink="/addmovie">   <mat-icon>add</mat-icon>
                <span class="text">Add Movies</span></a>
              </span>
              
        
      </button>
      <span style="  text-align: center; flex-grow: 1; "> Movie List</span>
      
      <button *ngIf="this.service.userLoggedIn" mat-flat-button (click)="logout()">Logout
        <mat-icon
          aria-hidden="false"
          aria-label="logout icon"
          fontIcon="logout"
          [ariaSetSize]="50"
          ></mat-icon>
      </button>
    </mat-toolbar>
  </p>
  <div class="page-container">
    <router-outlet></router-outlet>
  </div>

<style>
    .example-spacer {
  flex: 1 1 auto;
}

</style>