
.movie-card {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

mat-card {
  width: 100%;
  transition: transform 0.3s ease-in-out;
}

.movie-content {
  display: flex;

}



.movie-image img {
  
  max-height: 80vh;
  height: auto;
  object-fit: contain;
  margin-right: 20px;
}

.movie-details {
  flex: 1;
}

.movie-description {
  color: #666;
  font-size: 0.9em;
}

.movie-ratings p {
  margin-bottom: 5px;
}


.star {
  font-size: 24px;
  color: gray;
}

.star.filled {
  color: gold;
}

.other-rating {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.rating-msg {
  margin-top: 5px;
  font-size: 14px;
  color: #333;
}
.full-width {
  width: 100%;
  margin-bottom: 20px;
}